<h1>All Shelters</h1>

<%= link_to 'Sort By: Number of Adoptable Pets', "/shelters/?sort=adoptable"%> |
<%= link_to 'Sort By: Alphabetical', "/shelters/?sort=alphabetical"%> |
<%= link_to 'New Shelter', "/shelters/new", class: "Create" %>

<% @shelters.each do |shelter| %>
  <hr>
  <div id="shelter-<%= shelter.id %>">
    <h2>
      <%= link_to shelter.name, "/shelters/#{shelter.id}"%>
    </h2>
    <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", class: "Update" %> |

    <% if shelter.has_approvals? %>
      <p>Delete Shelter</p>
    <% else %>
      <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete, class: "Delete" %>
    <% end %>
  </div>
<% end %>
