<% content_for :title, "All Shelters" %>
<h1>All Shelters</h1>

<%= link_to 'New Shelter', "/shelters/new", class: "Create" %>

<section class="best-shelters">
  <% @best_shelters.each do |shelter| %>
    <hr>
      <h2>
        <%= link_to shelter.name, "/shelters/#{shelter.id}"%>
      </h2>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", class: "Update" %> |

      <% if shelter.has_approvals? %>
        <p>Delete Shelter</p>
      <% else %>
        <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete, class: "Delete" %>
      <% end %>
  <% end %>
</section>

<section class="all-shelters">
  <%= link_to 'Sort By: Number of Adoptable Pets', "/shelters/?sort=adoptable"%> |
  <%= link_to 'Sort By: Alphabetical', "/shelters/?sort=alphabetical"%> |

  <% @shelters.each do |shelter| %>
    <hr>
    <div id="shelter-<%= shelter.id %>">
      <h2>
        <%= link_to shelter.name, "/shelters/#{shelter.id}"%>
      </h2>
      <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", class: "Update" %> |

      <% if shelter.has_approvals? %>
        <p>Delete Shelter</p>
      <% else %>
        <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete, class: "Delete" %>
      <% end %>
    </div>
  <% end %>
</section>
