<% content_for :title, "Add New Shelter" %>
<h1>New Shelter</h1>

<%= form_tag '/shelters' do %>
  <div class="actions">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div class="actions">
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>

  <div class="actions">
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>

  <div class="actions">
    <%= label_tag :state %>
    <%= text_field_tag :state %>
  </div>

  <div class="actions">
    <%= label_tag :zip %>
    <%= text_field_tag :zip %>
  </div>

  <div class="actions">
    <%= submit_tag 'Create Shelter' %>
  </div>
<% end %>
