<h2>
  <%= link_to @shelter.name, "/shelters/#{@shelter.id}"%>
</h2>


<p>
  <strong>Address:</strong>
  <%= @shelter.address %>,
  <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
</p>

<% @shelter.reviews.each do |review| %>

<%= review.rating %> | <%= review.user.name %>
<%= review.title %>
<%= review.content %>
<%= image_tag review.image if review.image %>
<% end %>
<%= link_to "New Review", "/reviews/new?shelter=#{@shelter.id}" %> |

<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets"%> |

<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: "Update" %> |

<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete, class: "Delete" %>
