<% content_for :title, "#{@shelter.name} Information" %>


<section class="shelter-info">
  <h2>
    <%= @shelter.name %>
  </h2>
  <p>
    <strong>Address:</strong>
    <%= @shelter.address %>,
    <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %>
  </p>
  <div class="shelter-extra">
    <div class="statistics">
      <h3>Shelter Statistics</h3>
      <p>Total Pets: <%= @shelter.pet_count %> <br />
      Total Applications: <%= @shelter.application_count %><br />
      <%= "Average Rating: #{@shelter.average_rating.round(2)}" if @shelter.average_rating %></p>
    </div>
    <%= link_to "View Pets", "/shelters/#{@shelter.id}/pets", class: "button" %>
  </div>
</section>

<div class="shelter-links">
  <%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit", class: "Update" %> |
  <% if @shelter.has_approvals? %>
    Delete Shelter
  <% else %>
    <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete, class: "Delete" %>
  <% end %>
</div>

<% if !@reviews.empty? %>
  <h2>Reviews for <%= @shelter.name %></h2>
  <p><%= link_to "New Review", "/reviews/new?shelter=#{@shelter.id}" %></p>
    <div class="review-sort">
      Sort By: <%= link_to 'Highest Rating', "/shelters/#{@shelter.id}?sort=highest"%> |
      <%= link_to 'Lowest Rating', "/shelters/#{@shelter.id}?sort=lowest"%>
    </div>

    <% @reviews.each do |review| %>
      <div class="review">
        <p class="review-title"><%= review.title %></p>
        <p class="review-content"><%= review.content %></p>
        <p><%= image_tag review.image if review.image %></p>
        <p>Rating: <%= review.rating %> by <%= review.user.name %></p>

        <p>
          <%= link_to 'Edit', "/reviews/#{review.id}/edit" %> |
          <%= link_to 'Delete Review', "reviews/#{review.id}", method: :delete, class: "Delete" %>
        </p>
      </div>
    <% end %>
<% else %>
  <p>This shelter has no reviews! </p>
  <p><%= link_to "Create a New Review", "/reviews/new?shelter=#{@shelter.id}" %></p>
<% end %>
