<p>Status: <%= @application.status %></p>

<h2>Application</h2>
<p>Name: <%= @application.user.name %></p>
<p>Address: <%= @application.user.full_address %></p>
<p>Description: <%= @application.description %></p>
<p>Pets:</p>
<% @application.pets.each do |pet| %>
  <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>

<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <%= pet.name %>
    <%= image_tag pet.image if pet.image %>
    <% if !pet.adoptable %>
      <p>Pet Unavailable</p>
    <% elsif pet.pet_application(@application.id).status.nil? %>
      <%= button_to 'Approve', "/admin/applications/#{@application.id}?pet=#{pet.id}&status=approved", method: :patch %>
      <%= button_to 'Reject',  "/admin/applications/#{@application.id}?pet=#{pet.id}&status=rejected", method: :patch %>
    <% elsif pet.pet_application(@application.id).status == "approved"  %>
      <p>Approved</p>
    <% else %>
      <p>Rejected</p>
    <% end %>
  </div>
<% end %>
