<% content_for :title, "Review Application #{@application.id}" %>
<p>Status: <%= @application.status %></p>

<h2>Application</h2>
<%= render partial: "partials/user_details", locals: {application: @application} %>

<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <%= pet.name %>
    <%= image_tag pet.image if pet.image %>
    <% if !pet.adoptable %>
      <p>Pet Unavailable</p>
    <% elsif pet.pet_application(@application.id).status.nil? %>
      <%= button_to 'Approve', "/admin/applications/#{@application.id}?pet=#{pet.id}&status=approved", method: :patch %>
      <%= button_to 'Reject',  "/admin/applications/#{@application.id}?pet=#{pet.id}&status=rejected", method: :patch %>
    <% elsif pet.pet_application(@application.id).status == "approved"  %>
      <p>Approved</p>
    <% else %>
      <p>Rejected</p>
    <% end %>
  </div>
<% end %>
