<% content_for :title, "Review Application #{@application.id}" %>


<h2>Application</h2>
<p><strong>Status: <%= @application.status %></strong></p>
<%= render partial: 'shared/user_details', locals: {application: @application} %>

<h3>Pet Decisions</h3>
<% @application.pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <h4><%= pet.name %></h4>
    <% if !pet.adoptable %>
      <p>Pet Unavailable</p>
    <% elsif pet.pet_application(@application.id).status.nil? %>
      <%= button_to 'Approve', "/admin/applications/#{@application.id}?pet=#{pet.id}&status=approved", method: :patch %>
      <%= button_to 'Reject',  "/admin/applications/#{@application.id}?pet=#{pet.id}&status=rejected", method: :patch %>
    <% elsif pet.pet_application(@application.id).status == 'approved'  %>
      <p>Approved</p>
    <% else %>
      <p>Rejected</p>
    <% end %>
    <%= image_tag pet.image, width: "280px" %>
  </div>
<% end %>
