<h1>Shelter Pets</h1>

<% @pets.each do |pet| %>
  <hr>
  <%= image_tag pet.image %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <%= pet.age %>
  <%= pet.sex %>

  <%= link_to 'Destroy', "/pets/#{pet.id}", method: :delete %>
<% end %>
