<% content_for :title, "Application Information" %>

<h2>Application</h2>
<p>Pets will be added to this area once you add them to the application.</p>
<section class="application-information">
  <p>Name: <%= @application.user.name %></p>
  <p>Address: <%= @application.user.full_address %></p>
  <p>Description: <%= @application.description %></p>
  <p>Pets:</p>
  <ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
  </ul>
  <p>Application Status: <%= @application.status %></p>
</section>


<% if @application.status == 'In Progress' %>
  <section>
    <h3>Add a Pet to this Application</h3>
    <p>Search for a pet name and then you will be able to select from a list of available pets.</p>

    <%= form_tag "/applications/#{@application.id}", method: :get do %>
      <%= label_tag :pet_name %>
      <%= search_field_tag :pet_name, 'Find Pet' %>
      <%= hidden_field_tag :id, @application.id %>
      <%= submit_tag "Submit" %>
    <% end %>
    <h4>Matching Pets</h4>
    <p>Please select a pet or pets to add to your application.</p>
    <p class="search-results">
      <% @pets.each do |pet| %>
        <div class="pet" id="pet-<%= pet.id %>">
          <%= image_tag pet.image %>
          <p>
            <strong>Name:</strong>
            <%= link_to pet.name, "/pets/#{pet.id}" %>
          </p>
          <% if @application.has_pet?(pet) %>
            <p><strong>Already Added</strong></p>
          <% else %>
            <%= button_to 'Adopt this Pet', "/applications/#{@application.id}", method: :patch, params: {pet: pet} %>
          <% end %>
        </div>
      <% end %>
    </p>
  </section>
<% end %>

<% if @application.has_pets? && @application.status == 'In Progress' %>
<section class="app-submit">
  <h3>Application Submission</h3>
  <p>Ready to submit your application? Fill in why you want to adopt these pets and about your living situation. Submit, we will review, and get back to you soon!</p>
  <%= form_tag "/applications/#{@application.id}", method: :patch do %>
    <%= label_tag :description %>
    <%= text_area_tag :description %>
    <%= hidden_field_tag :id, @application.id %>
    <%= hidden_field_tag :status, 'Pending' %>
    <%= submit_tag "Submit" %>
  <% end %>
</section>
<% end %>
