<h1>Pets</h1>

<%= link_to 'Adoptable Pets', "/pets?adoptable=true" %> |
<%= link_to 'Pets Pending Adoption', "/pets?adoptable=false" %>

<p>
  <strong>
    Total pets: <%= @pets.count %>
  </strong>
</p>

  <% @pets.each do |pet| %>
    <hr>
    <div class="pet">
      <%= image_tag pet.image %>
      <p>
        <strong>Name:</strong>
        <%= link_to pet.name, "/pets/#{pet.id}" %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= pet.age %>
      </p>

      <p>
        <strong>Sex:</strong>
        <%= pet.sex %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= pet.status %>
      </p>

      <p>
        <strong>Shelter:</strong>
        <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %>
      </p>
    </div>

    <%= link_to 'Update Pet', "/pets/#{pet.id}/edit", class: "Update" %> |
    <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete, class: "Delete" %>
  <% end %>
