<% content_for :title, "Start an Application" %>
<p><%= link_to 'Start an Application', "/applications/new" %></p>


<h1>Pets</h1>

<%= link_to 'Adoptable Pets', "/pets?adoptable=true" %> |
<%= link_to 'Pets Pending Adoption', "/pets?adoptable=false" %>

<p>
  <strong>
    Total pets: <%= @pets.count_of_pets %>
  </strong>
</p>

  <% @pets.each do |pet| %>
    <hr>
    <div id="pet-<%= pet.id %>">
      <%= render partial: "shared/pet_card", locals: { pet_value: pet } %>

      <%= link_to 'Update Pet', "/pets/#{pet.id}/edit", class: "Update" %> |
      <% if pet.has_approvals? %>
        <p>Delete Pet</p>
      <% else %>
        <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete, class: "Delete" %>
      <% end %>
    </div>
  <% end %>
  <section class="adopted-pets">
    <h3>Adopted Pets</h3>
    <% @adopted_pets.each do |pet| %>
      <%= render partial: "shared/pet_card", locals: { pet_value: pet } %>
    <% end  %>

  </section>
