<% content_for :title, "#{@pet.name} Information and Adoption Status" %>

<div class="pet">
  <%= image_tag @pet.image %>

  <p>
    <strong>Name:</strong>
    <%= link_to @pet.name, "/pets/#{@pet.id}" %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @pet.description %>
  </p>


  <p>
    <strong>Age:</strong>
    <%= @pet.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= @pet.sex %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @pet.status %>
  </p>

  <p>
    <strong>Shelter:</strong>
    <%= link_to @pet.shelter.name, "/shelters/#{@pet.shelter.id}" %>
  </p>
</div>

<%= link_to 'View all Applications', "/pets/#{@pet.id}?show_apps=true" %>

<div>
  <% if @pet.applications.any? && @view == "true" %>
    <% @pet.applications.each do |app| %>
      <p><%= link_to app.user.name, "/applications/#{app.id}" %></p>
    <% end %>
  <% elsif @view == "true" %>
    <p><%= @pet.name %> has no applications</p>
  <% end %>
</div>

<% if @pet.adoptable? %>
  <%= link_to "Change to Pending Adoption", "/pets/#{@pet.id}/pending", method: :patch %> |
<% else %>
  <%= link_to "Change to Adoptable", "/pets/#{@pet.id}/adoptable", method: :patch %> |
<% end %>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit", class: "Update" %> |
<% if @pet.has_approvals? %>
  <p>Delete Pet</p>
<% else %>
  <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete, class: "Delete" %>
<% end %>
