<h2>
  <%= @user.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @user.street_address %>,
  <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<p>
  Average Review Score: <%= @user.reviews.average(:rating) %>
</p>

<p>
  <% @user.reviews.each do |review| %>
    <%= review.rating %>
    <%= review.title %>
    <%= review.content %>
  <% end %>
</p>

