<% content_for :title, "#{@user.name} Reviews and Info" %>
<h2>
  <%= @user.name %>
</h2>

<p><strong>Address:</strong><br />
  <%= @user.street_address %><br />
  <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<% if @user.reviews.average(:rating).nil? %>
<% else %>
  <p>
    <strong>Average Review Score: </strong>
    <%= @user.reviews.average(:rating) %>
  </p>
<% end %>

<% if @best_review %>
  <section class="best">
    <%= render partial: "show_review", locals: { review: @best_review } %>
  </section>

  <section class="worst">
    <%= render partial: "show_review", locals: { review: @worst_review } %>
  </section>
<% else %>
  <p>No Reviews to Show</p>
  <h3>Ready to get started? Here are some options:</h3>
  <p><%= link_to "View Pets", "/pets" %></p>
  <p><%= link_to "Find a Shelter", "/shelters" %></p>
  <p><%= link_to "Start an Application", "/applications/new" %></p>
<% end %>

<p>
  <% @user.reviews.each do |review| %>
    <%= render partial: "show_review", locals: { review: review } %>
  <% end %>
</p>
