<% content_for :title, "#{@user.name} Reviews and Info" %>
<h2>
  <%= @user.name %>
</h2>

<p><strong>Address:</strong><br />
  <%= @user.street_address %><br />
  <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<% if @user.reviews.average(:rating).nil? %>
<% else %>
  <p>
    <strong>Average Review Score: </strong>
    <%= @user.reviews.average(:rating) %>
  </p>
<% end %>

<% if @best_review %>
  <section class="best">
    <h3>Best Review</h3>
    <div class="best-review">
      <%= image_tag @best_review.image %>
      <div class="review-info">
        <p>Rating: <%= @best_review.rating %></p>
        <p><strong><%= @best_review.title %></strong></p>
        <p><%= @best_review.content %></p>
      </div>
    </div>
  </section>

  <section class="worst">
    <h3>Worst Review</h3>
    <div class="worst-review">
      <%= image_tag @worst_review.image %>
      <div class="review-info">
        <p>Rating: <%= @worst_review.rating %></p>
        <p><strong><%= @worst_review.title %></strong></p>
        <p><%= @worst_review.content %></p>
      </div>
    </div>
  </section>

  <section class="all">
    <h3>All Reviews</h3>
    <% @user.reviews.each do |review| %>
      <div class="review">
        <%= image_tag review.image %>
        <div class="review-info">
          <p>Rating: <%= review.rating %></p>
          <p><strong><%= review.title %></strong></p>
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </section>
<% else %>
  <p>No Reviews to Show</p>
  <h3>Ready to get started? Here are some options:</h3>
  <p><%= link_to "View Pets", "/pets" %></p>
  <p><%= link_to "Find a Shelter", "/shelters" %></p>
  <p><%= link_to "Start an Application", "/applications/new" %></p>
<% end %>

<p>

</p>
