<% content_for :title, "#{@user.name} Reviews and Info" %>
<h2>
  <%= @user.name %>
</h2>

<p>
  <strong>Address:</strong>
  <%= @user.street_address %>,
  <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
</p>

<p>
  Average Review Score: <%= @user.reviews.average(:rating) %>
</p>

<% if @best_review %>
  <section class="best">
    <%= render partial: "show_review", locals: { review: @best_review } %>
  </section>

  <section class="worst">
    <%= render partial: "show_review", locals: { review: @worst_review } %>
  </section>
<% else %>
  <p>No Reviews to Show</p>
<% end %>

<p>
  <% @user.reviews.each do |review| %>
    <%= render partial: "show_review", locals: { review: review } %>
  <% end %>
</p>
<p><%= link_to "Start an Application", "/applications/new" %></p>
