<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Adopt, Don't Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <h1><%= link_to image_tag("logo.png", height: '100px'), "/" %></h1>
    <%= link_to 'Shelters', "/shelters" %>
    <%= link_to 'Pets', "/pets" %>
  </header>

  <body>
    <% if flash.notice %>
      <p class="flash">
        <%= flash.notice %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
